In [ ]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()
warnings.filterwarnings('ignore')

In [ ]:
company = pd.read_csv("crunchbase/companies.csv")
company

In [ ]:
company.head()

In [ ]:
company.describe()

In [ ]:
company.columns

## A. Data Cleaning
    1. Delete irrelevant & redundant information
    2. Remove noise or unreliable data (missing values and outliers)
    
### 1. Delete irrelevant and redundant information
     a. Delete 'region','city','state_code' as they provide too much of granularity.
     b. Delete 'id', 'Unnamed: 0.1', 'entity_type', 'entity_id', 'parent_id', 'created_by',
       'created_at', 'updated_at' as they are redundant.
     c. Delete 'domain', 'homepage_url', 'twitter_username', 'logo_url', 'logo_width', 'logo_height',           
        'short_description', 'description', 'overview','tag_list', 'name', 'normalized_name', 'permalink',    
        'invested_companies' as they are irrelevant features.
     d. Delete duplicate values if any.
     e. Delete those which has more than 98% of null values.
     
### 2. Remove noise or unreliable data (missing values and outliers)
     a. Delete instances with missing values for 'status', 'country_code', 'category_code' and 'founded_at'.
     b. Delete outliers for 'funding_total_usd' and 'funding_rounds'.
     c. Delete contradictory (mutually opposed or inconsistent data).

#### 1.a. Delete 'region','city' as they provide too much of granularity.

In [ ]:
#Type your code here!

#### 1.b. Delete 'id', 'Unnamed: 0.1', 'entity_type', 'entity_id', 'parent_id', 'created_by', 'created_at', 'updated_at' as they are redundant.

In [ ]:
#Type your code here!

#### 1.c. Delete 'domain', 'homepage_url', 'twitter_username', 'logo_url', 'logo_width', 'logo_height',  'short_description',    'description',  'overview','tag_list', 'name', 'normalized_name', 'permalink', 'invested_companies' as they are irrelevant features.

In [ ]:
#Type your code here!

#### 1.d. Delete duplicate values if found any.

In [ ]:
# Delete duplicate values if found any.
#Type your code here!

In [ ]:
# Since, there are duplicate values in the dataset let's see how of duplicate values are present.
#Type your code here!

In [ ]:
# Let's delete all the duplicate values
#Type your code here!

In [ ]:
# check if any left
#Type your code here!

#### 1.e. Delete those which has more than 98% of null values.

In [ ]:
company

In [ ]:
# # Since we can see only nan values so et's check how much of ros has nan values.
#Type your code here!

In [ ]:
# # Since we can see it has more than 96% of null values, it would not make sense to impute these data. So, lets drop it.
#Type your code here!

#### 2.a. Delete instances with missing values for 'status', 'country_code', 'category_code' and 'founded_at'.
    (Since these are the type of data where adding value via imputation will create wrong pattern only)

In [ ]:
#Type your code here!

In [ ]:
#Type your code here!

In [ ]:
#Type your code here!

In [ ]:
# Since we can see only nan values so et's check how much of rows has nan values.
#Type your code here!

In [ ]:
#Type your code here!

In [ ]:
company

#### 2.b. Delete outliers for 'funding_total_usd' and 'funding_rounds'.

In [ ]:
#Type your code here!

In [ ]:
#Type your code here!

### Summary:
If you can see the outlier in both 'funding_total_usd' and 'funding_rounds'. So, let's find them and drop it.

    1. Find the IQR (Interquartile Range)
    2. Find the upper and lower limit
    3. Find outliers
    4. Drop them
    5. Compare the plots after trimming

#### 2.b.1. Find the IQR

In [ ]:
# For funding_total_usd
#Type your code here!

# For funding_rounds
#Type your code here!

#### 2.b.1. Find the Upper and Lower limit

In [ ]:
# For funding_total_usd
#Type your code here!

# For funding_rounds
#Type your code here!

#### 2.b.1.  Find outliers

In [ ]:
# For funding_total_usd
#Type your code here!

# For funding_rounds
#Type your code here!

#### 2.b.1. Drop the outliers

In [ ]:
# For funding_total_usd
#Type your code here!

# For funding_rounds
#Type your code here!

In [ ]:
company

#### 2.c. Delete contradictory (mutually opposed or inconsistent data).

In [ ]:
# Since we have not imputed the datasets in closed_at yet, we will check it later on.

# B. Date Transformation
    It can be divided into two successive phases.
   ## 1. Changes in original data
        a. Convert founded_at, closed_at, first_funded_at, last_funding_at, first_milestone_at ,
           last_milestone_at to years.
        b. Generalize the categorical data i.e. category_code, status and category_code.
   ## 2. Create new variables
        a. Create new feature isClosed from closed_at and status.
        b. Create new feature 'active_days'

#### 1.a. Convert founded_at, closed_at, first_funded_at, last_funding_at, first_milestone_at , last_milestone_at to years.

In [ ]:
# For founded_at
#Type your code here!

# closed_at
#Type your code here!

# # first_funding_at
#Type your code here!

# # last_funding_at
#Type your code here!

# # first_milestone_at
#Type your code here!

# # last_milestone_at
#Type your code here!

company

 #### 1.b. Generalize the categorical data i.e. category_code and  country_code

In [ ]:
# 1. category_code
#Type your code here!

In [ ]:
# Since there are 42 categories, one-hot encoding which is going to create a lot of columns so
# Lets Check the repetition of value in ascending order and keep the first 15 values and name 
# remaining one as other.

#Type your code here!

In [ ]:
# Lets keep the category as same of it falls under above 10 otherwise let's replace it with other.

#Type your code here!

In [ ]:
#Type your code here!

In [ ]:
# Let's check if we've more than 15 columns
#Type your code here!

In [ ]:
# One-hot encoding to category_code
#Type your code here!

In [ ]:
# Concatenate category with company dataset
#Type your code here!

In [ ]:
# Since, We've added the encoded category_columns, let's delete original category_code
#Type your code here!

### Let's encode 'country' column now.

In [ ]:
# 1. country_code
#Type your code here!

In [ ]:

# Since there are 161 categories, one-hot encoding which is going to create a lot of columns so
# Lets Check the repetition of value in ascending order and keep the first 10 values and name 
# remaining one as other.

#Type your code here!

In [ ]:
# Lets keep the country as same of it falls under above 10 otherwise let's replaceit with other.

#Type your code here!

In [ ]:
#Type your code here!

In [ ]:
#Type your code here!

In [ ]:
# One-hot encoding to category_code
#Type your code here!

In [ ]:
# Concatenate category with company dataset
#Type your code here!

In [ ]:
# Since, We've added the encoded country_code , let's delete original category_code
#Type your code here!

### 2. Create new variablesÂ¶
    a. Create new feature isClosed from closed_at and status.
    b. Create new feature 'active_days'

#### 2.a. Create new feature isClosed from closed_at and status.
     - if the value in status is 'operating' or 'ipo', Let's put 1.
     - Where as if the value is 'acquired' or 'closed', let's put 0.

In [ ]:
#Type your code here!

In [ ]:
#Type your code here!

In [ ]:
#Type your code here!

#### 2.b. Create active_days
     i. Replacing values:
         -  if the value in status is 'operating' or 'ipo' in closed_at, Let's put 2021.
         - Where as if the value is 'acquired' or 'closed', let's put 0.
     ii. Subtract founded_date from closed_date, and calculate age in days (After calculating active days, 
         check contradictory issues we didn't check it before).
     iii. Then, delete the closed_at column.

In [ ]:
#Type your code here!

##### 2.b.i  Replacing the values in closed_at column
   - if the value in status is 'operating' or 'ipo' in closed_at, Let's put 2021.
   - Where as if the value is 'acquired' or 'closed', let's put 0.

In [ ]:
#Type your code here!

In [ ]:
#Type your code here!

In [ ]:
#Type your code here!

##### 2.b.ii Subtract founded_date from closed_date, and calculate age in days (After calculating active days, check contradictory issues we didn't check it before.)

In [ ]:
#Type your code here!

#### 2.b.iii. Then, delete the closed_at column.

In [ ]:
#Type your code here!

### Let's work on target variabe now.

In [ ]:
#Type your code here!

In [ ]:
#Type your code here!

In [ ]:
#Type your code here!

In [ ]:
#Type your code here!

### Remove the null vaues with the mean value in 'Numerical Data'

In [ ]:
company

In [ ]:
#Type your code here!

#Type your code here!

In [ ]:
company

In [ ]:
# First let's check how much of rows has nan values and drop them.
#Type your code here!

In [ ]:
#Type your code here!

In [ ]:
#Type your code here!

In [ ]:
# Final null check on data
#Type your code here!

In [ ]:
#Finally Save cleaned Data.
#Type your code here!